{% extends 'base.html' %}
{% block menu %}
<li class="nav-item">
  <a class="nav-link active" href="{% url 'add' %}">Create</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url "cart_list" %}">View Your Cart</a>
</li>
<li class="nav-item">
    {% include 'partial/simple_search.html' %}
</li>

{% endblock %}

{% block content %}
    <h1 class="text-center" >Good</h1><br/><hr>
    {% for s in store %}
        <h2>{{ s.name }}</h2>
        <p>{{  s.status }}</p>
        <p>{{  s.price }}</p>
        <h3><a href="{% url 'info' s.pk %}">More...</a></h3><br/>
         {% if s.remainder %}
                <a class="btn btn-primary" href="{%url "cart_index" s.pk %}" role="button">Add to Cart</a>
         {% endif %}
        <hr>
    {% endfor %}
{% endblock %}
